---
// import Loader2 from "../components/Loader2.astro";
import Layout from "../layouts/Layout.astro";

const hobbies = [
  {
    name: "Gaming",
    content:
     "As a die-hard Madridista, my relationship with FIFA has been a thrilling love-hate saga. It goes beyond just the game; it's become a part of me. I relish the thrill of dismantling my opponents 😹. I also had some great moments on Fortnite too. Through gaming, I've made invaluable friends and connected with fellow developers who share my passion for coding and gaming. Gaming has not just been a pastime for me; it's been a way to connect, compete, unwind, and annihilate others.",
    tag: "gaming",
  },
  {
    name: "Music",
    content:
      "Listening to music is a passion of mine. I enjoy a diverse range of genres that provide the perfect soundtrack to my day, whether I am coding, working out, or relaxing. Music has the power to transport me to another world, and I am always on the lookout for new artists and songs that inspire me. Music is a form of self-expression that connects me to my emotions and helps me process my thoughts. It's a constant source of joy and inspiration in my life. Here is my wrapped of 2023 from Spotify",
    tag: "music",
    img: "wrapper_2023.jpg",
  },
  {
    name: "Movies & Tv Shows",
    content:
      "I love delving into the latest movies and TV shows, exploring everything from spine-chilling horror to captivating sci-fi. Storytelling in visual media intrigues me because it offers a diverse range of narratives and characters to explore. One of my favorite franchises is Game of Thrones. It blends epic battles, political intrigue, and complex relationships into a compelling narrative. The series has a unique way of blending fantasy elements with deep themes, making it a memorable and thought-provoking watch.",
    tag: "moviesandshows",
  },
  {
    name: "Anime & Manga",
    content:
      `I enjoy anime and manga, offering endless adventures with diverse characters and captivating new series. I am a perceptive critic with high standards, interested in rich narratives and unique art styles that ignite my imagination. Subpar stories usually do not cut it for me. I thrive on finding those exceptional stories that inspire and resonate deeply. My passion for unpredictable storytelling means I never settle for anything less than the best, with Attack on Titan currently being the only piece of art to exceed that criteria and Vagabond being one of the best reads in manga.`,
    tag: "animeandmanga",
  },
  {
    name: "Fitness",
    content:
      `Working out is one of my key hobbies. I believe in maintaining a healthy and active lifestyle, and I enjoy various forms of exercise, from weightlifting to cardio workouts. Living by the creed stated by Thomas Jefferson, "A strong body makes the mind strong," is not just a guiding principle but also a basis of motivation and discipline for me. With Bulgarian splits being the simplest, and #1 as everyone's favorite workout 🤣 (if you know, you know).`,
    tag: "fitness",
  },
];
---

<Layout
  title="Me"
  description="Welcome to my domain. 🌟 Explore the essence of Andrea, where curiosity and creativity collide."
>
  <div class="container">
    <main>
      <div class="me">
        <div class="col-2">
          <ul class="sub-pages">
            <li>
              <a id="My_story" class="sub-link active" href="#">My Story</a>
            </li>
            <li>
              <a id="Experience" class="sub-link" href="#">Experience</a>
            </li>
            <li>
              <a id="Resume" class="sub-link" href="#">Resume</a>
            </li>
            <li>
              <a id="Hobbies" class="sub-link" href="#">Hobbies</a>
            </li>
          </ul>
        </div>
        <div class="col-8">
          <div class="block" data-id="My_story">
            <p class="pt-1">
              <em>I hate coding.</em>
              <br /><br />That was my initial thought when I first embarked on
              my coding journey. During my first year at university in Ghana, I
              was introduced to C++ as my first programming language. While I
              grasped the core concepts, the language itself seemed like an
              impenetrable wall.<br /><br />In 2017, a new chapter of my life
              began when I moved to Italy. This transition was a leap into the
              unknown, not just culturally but linguistically.<br />
              <br />I was "determined" to learn the language and immerse myself
              in the culture. I started by taking Italian classes, but I soon
              realized that I needed a more hands-on approach. I was then
              fascinated by the idea of creating something from scratch, and I
              was drawn to the challenge of learning a new language. I started
              by watching online videos and reading books, but I quickly
              realized that I needed more guidance. That's when I decided to
              enroll into school.<br /><br />It sure was intense, but it was
              also incredibly rewarding. I learned new skills, made new friends,
              and gained a new perspective on life. During my time at school,
              Java replaced my former programming trials. Surprisingly, Java
              clicked with me far better than C++ ever had. I realized that
              coding was more than just a hobby, it was a way to express myself
              and connect with others. I also realized that coding was a way to
              make a difference in the world.<br /><br />I started by building
              simple projects, but I soon realized that I wanted to do more.<br
              /><br />I completed my studies in 2021 and briefly ventured into
              the food chain industry. <br /><br />Growing up I always
              envisioned myself to be a game developer, creating the next triple
              A game whilst sipping my coffee and reading the opening lines to
              the next best-selling manga. But I kind of just felt meh. I
              yearned to learn more, yearned to learn something different. And
              that is when it happened; the spark I was missing ignited the
              instant I clicked play on my first web development tutorial video.
              Since then, I can't get enough.<br /><br />Web development calls
              to all my passions; it incorporates creativity and problem-solving
              and I'm allowed to break it to improve the code (in a separate Git
              branch, of course). I love applying responsive design principles
              and watching my web pages shrink into mobile screens and still
              look amazing. It's oddly satisfying.<br /><br />My specialties
              include quickly learning and adapting new skills and programming
              languages, problem-solving, and responsive design principles. I'm
              still enthusiastically grabbing onto any other programming
              languages, frameworks, or principles I can integrate into the
              coding web in my head.<br /><br /> One positive psychological trait
              that I've integrated into my daily life is delayed gratification. Initially,
              I always expected immediate results from my efforts, whether it was
              learning a new framework or trying out a new workout. However, I soon
              realized that true growth and progress don't happen overnight; they
              require dedication and consistency. Over time, this understanding not
              only shaped my approach to challenges but also deepened my passion
              for web development.
            </p>
          </div>
          <div class="block" data-id="Experience">
            <p class="pt-1">
              <em>Experience</em>
              <br /><br />
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae iste
              perspiciatis nihil magni officia quibusdam, quisquam porro illo tenetur
              labore magnam nostrum, cum nemo molestiae quos, nulla qui est quae.
              Provident praesentium nam harum pariatur eius magnam laboriosam corrupti,
              dolorum odit dolore laudantium, accusantium error consequatur adipisci
              repudiandae quam distinctio debitis eligendi, nostrum recusandae id
              totam tempora nemo? Eum, adipisci. Reiciendis, tempore odit! Vero deserunt
              quis a, itaque iste dolorum quo. Adipisci earum obcaecati aliquid perferendis
              recusandae vel odit dolore. Neque ex perspiciatis perferendis voluptatibus
              in iusto itaque eius modi! Blanditiis, saepe fugit. Dolorum dolore
              soluta error quaerat voluptas ipsum assumenda alias, earum laudantium
              deserunt veritatis. Minus iste nam beatae, aut quam quia ullam cupiditate
              enim nihil sed voluptas delectus. Quaerat, facilis! Iusto eos laudantium
              aliquam, autem dolores unde, labore nulla omnis, quia ex dolore nobis
              quibusdam voluptatum eligendi! Doloremque facere quibusdam, fugiat
              omnis labore quod qui debitis accusamus error? Accusamus magni accusantium
              dignissimos laborum, in ab nulla vitae sunt animi ipsum sequi assumenda
              praesentium nostrum illum ea pariatur blanditiis! Culpa molestias at
              veniam laudantium nesciunt praesentium, deleniti inventore ullam! Quae,
              modi deserunt doloribus qui quibusdam asperiores autem iure rerum velit,
              excepturi aut molestiae pariatur quaerat aperiam? Eligendi nam dolorem
              similique, officia dolore ullam illum ratione quasi quidem eaque possimus.
              Laborum deleniti unde rem quae! Nisi tempore rem maiores ipsa voluptatibus
              accusantium magnam fugit placeat consequatur enim? Dolores vero veniam
              reprehenderit dolorum pariatur ratione animi rem, velit fugit voluptatibus
              autem. Repellat modi fuga accusantium, adipisci deleniti maiores doloremque
              iusto corporis.
              <br /><br />
              Quam totam sed reiciendis cumque quod voluptatum aut laudantium delectus
              soluta impedit, animi voluptate! Saepe ipsa reprehenderit iusto officiis
              quas? Hic odio optio consequuntur odit at accusantium recusandae ab
              voluptatum sint. Sit quod non omnis facilis unde accusamus, esse autem
              dolore beatae ex commodi, rem eveniet maxime tenetur rerum reiciendis?
              Omnis rem deserunt, ullam, repellat unde tempore excepturi repellendus
              fugit maiores, accusantium adipisci cupiditate. Et obcaecati fugit
              natus quas dignissimos. Adipisci odio eaque architecto fugiat nulla
              laboriosam ex aperiam sit. Fugit dolor hic earum voluptatem assumenda.
              Veritatis, voluptate nihil deserunt dicta earum tenetur quos non quaerat
              voluptatum aut explicabo dignissimos eius, dolor cum impedit obcaecati
              molestiae ipsum quas animi tempore. Ipsam ad laboriosam nulla numquam
              repellendus quod impedit eius maiores ratione? Nulla veritatis possimus
              obcaecati illo facere rem sint nobis tempora, eius harum quidem accusantium
              recusandae. Maxime dolores facilis impedit. Eius praesentium alias
              quibusdam perspiciatis ea quia illum quod fugit amet harum nesciunt,
              quae, tempora dolorum sint expedita architecto sunt nobis error?
              <br /><br />
              quo atque, quae suscipit tempora itaque, eum minus. Animi, necessitatibus
              laboriosam eligendi, corporis adipisci quas repellat distinctio illum
              fugiat incidunt provident? Laudantium! Cupiditate laboriosam qui culpa
              earum labore minus aut, provident eligendi, recusandae ab molestiae
              sit laudantium est exercitationem voluptatem quisquam asperiores error
              nam aliquam, unde similique deleniti natus. Similique, voluptates ut.
              Qui tenetur incidunt, adipisci reprehenderit vero error eius quo unde,
              accusantium accusamus sint in cupiditate, recusandae consequatur laboriosam
              similique molestias eum asperiores itaque atque obcaecati perferendis
              ratione illum corporis? Consectetur! Sint ea nostrum eos dicta perferendis
              debitis aut magnam facilis obcaecati quis quae, quos voluptate aperiam
              ducimus deleniti veniam. Fugiat, eaque numquam quod alias placeat maiores
              illum aperiam totam magni. In, doloribus ad magni labore a quas soluta
              voluptate ullam vitae minus quasi, laudantium, iusto repudiandae! Aspernatur
              odit nostrum repellat porro, debitis quas vel eum eaque inventore!
              Quo, dolore ipsum. Nemo adipisci expedita in odit debitis harum architecto
              nihil impedit reprehenderit tempore! Esse non maxime eligendi natus
              eius vel, perferendis nihil quis labore laboriosam exercitationem ipsa
              alias maiores nesciunt sunt! Reiciendis sit facere ullam sint praesentium
              pariatur, .
            </p>
          </div>
          <div class="block" data-id="Resume">
            <p class="pt-1">
              <em>Resume </em><br /><br />
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae iste
              perspiciatis nihil magni officia quibusdam, quisquam porro illo tenetur
              labore magnam nostrum, cum nemo molestiae quos, nulla qui est quae.
              Provident praesentium nam harum pariatur eius magnam laboriosam corrupti,
              dolorum odit dolore laudantium, accusantium error consequatur adipisci
              repudiandae quam distinctio debitis eligendi, nostrum recusandae id
              totam tempora nemo? Eum, adipisci. Reiciendis, tempore odit! Vero deserunt
              quis a,
              <br /><br />
              itaque iste dolorum quo. Adipisci earum obcaecati aliquid perferendis
              recusandae vel odit dolore. Neque ex perspiciatis perferendis voluptatibus
              in iusto itaque eius modi! Blanditiis, saepe fugit. Dolorum dolore
              soluta error quaerat voluptas ipsum assumenda alias, earum laudantium
              deserunt veritatis. Minus iste nam beatae, aut quam quia ullam cupiditate
              enim nihil sed voluptas delectus. Quaerat, facilis! Iusto eos laudantium
              aliquam, autem dolores unde, labore nulla omnis, quia ex dolore nobis
              quibusdam voluptatum eligendi! Doloremque facere quibusdam, fugiat
              omnis labore quod qui debitis accusamus error? Accusamus magni accusantium
              dignissimos
              <br /><br />
              quod at quos placeat repudiandae qui totam nostrum corrupti cupiditate
              odio suscipit! Ab voluptatum delectus adipisci dicta nam sint ducimus
              quo modi praesentium sit. Dignissimos numquam cumque facilis perferendis
              temporibus. Culpa quidem repellendus ex, libero repudiandae aperiam
              quasi modi deleniti. Architecto possimus harum dicta optio cumque facilis,
              eos nesciunt quidem inventore. Animi, ratione suscipit. Repellat fugit
              eos quia at laudantium ipsum doloremque. Perspiciatis perferendis amet,
              pariatur autem at enim commodi dolores! Quae nisi voluptas, commodi
              tempore eveniet eligendi minus nesciunt nostrum iste saepe aliquam?
              Cupiditate ex recusandae eum voluptate sequi aspernatur nulla consequatur
              earum quos alias, excepturi soluta provident delectus molestiae, illum
              totam tempora illo, sint voluptatibus? Nulla expedita magnam quo sapiente,
              voluptates nostrum? Nisi eius molestias itaque minus error illum laborum
              libero corrupti autem magni. Porro, deserunt a. Accusantium eum laboriosam
              eligendi possimus accusamus illo, id quaerat velit ut nam architecto
              minus nostrum? Molestias consectetur nesciunt, sit autem perferendis
              maxime consequuntur commodi eveniet laboriosam pariatur cumque quibusdam
              non a minima? Vitae quia in nisi architecto quis illo voluptatem quaerat
              nesciunt adipisci placeat. Ea. Aut consequatur officiis, autem, ea
              beatae quisquam, repellat possimus tempora dolorum facere earum molestiae
              dolores neque accusamus dignissimos voluptas repellendus labore impedit
              ipsam. Molestiae enim, ratione voluptas aspernatur saepe blanditiis!
              Magnam eligendi laudantium fuga, facere voluptas adipisci tenetur consequuntur
              facilis veniam nihil. Atque quas ipsum animi veniam accusantium necessitatibus
              recusandae rem nulla quia voluptatum! Soluta veritatis impedit cupiditate
              adipisci natus. Distinctio optio eligendi maiores, quos necessitatibus,
              veniam quas, ea sed pariatur dolorem sunt aliquam corporis cupiditate
              quo eos aut doloribus laboriosam minus ducimus hic numquam ratione
              dicta odio quod? Rem! Placeat minus harum libero maiores laudantium,
              officia adipisci quas aliquam veritatis ullam sit cumque quis iste
              eos vel optio molestiae quo alias esse! Neque voluptatibus vero reiciendis
              consequuntur placeat eligendi. Vel quas modi earum. Dolorem molestiae
              maiores recusandae? Officia, consequatur vitae? Eos molestias ipsa
              cupiditate vel, ea suscipit quibusdam animi necessitatibus est, aliquid
              atque enim aut, pariatur corporis eveniet ratione exercitationem doloribus
              iusto. Soluta fugit nam, fugiat quaerat dolor quos voluptas. Odio quisquam
              esse illum fugit rem voluptas provident. Voluptates labore dolorum
              eos cum quia exercitationem perspiciatis error pariatur reiciendis,
              molestias vero itaque in enim quasi nesciunt. Provident rem corporis
              minima. Magni consequuntur voluptatum, provident iusto cum veniam.
              Eos cupiditate deserunt vel fugiat quisquam ab obcaecati. Aspernatur
              hic ducimus, voluptate voluptas, aut ad repellendus nam, ipsum dolorem
              vitae facilis modi officiis. Tenetur, soluta? Officiis, non error ratione
              dolor debitis ipsa architecto, accusantium tempore .
            </p>
          </div>
          <div class="block" data-id="Hobbies">
            <div class="pt-1">
              <em>Hobbies </em>
              <p>
                Welcome to the sunny side of my life beyond coding! When I'm not
                immersed in coding, I dive into a variety of hobbies that keep
                me energized and inspired. Be it gaming, reading manga, flying
                my drone, going out with my friends, or going for a run soaking
                every bit of sunlight.
                <br /><br />
                These activities help me stay mentally fresh and creatively charged,
                ensuring I bring my best self every day.
              </p>
            </div>

            <div class="hobby-list">
              {
                hobbies.map((hobby) => (
                  <div class="hobby-tab">
                    <div class="hobby-title" data-tab={hobby.tag}>
                      <span>{hobby.name}</span>
                      <span>
                        <svg
                          width="16"
                          height="16"
                          viewBox="0 0 16 16"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M1.44012 5.23499C1.48072 5.19424 1.52902 5.16192 1.58212 5.13986C1.63532 5.11781 1.69232 5.10645 1.74982 5.10645C1.80742 5.10645 1.86432 5.11781 1.91752 5.13986C1.97062 5.16192 2.01892 5.19424 2.05962 5.23499L6.99982 10.1761L11.94 5.23499C11.9807 5.19431 12.029 5.16204 12.0822 5.14003C12.1353 5.11801 12.1923 5.10668 12.2498 5.10668C12.3073 5.10668 12.3643 5.11801 12.4174 5.14003C12.4706 5.16204 12.5189 5.19431 12.5595 5.23499C12.6002 5.27566 12.6325 5.32395 12.6545 5.3771C12.6765 5.43025 12.6878 5.48721 12.6878 5.54474C12.6878 5.60226 12.6765 5.65922 12.6545 5.71237C12.6325 5.76552 12.6002 5.81381 12.5595 5.85449L7.30957 11.1045C7.26893 11.1452 7.22065 11.1775 7.1675 11.1996C7.11435 11.2216 7.05737 11.233 6.99982 11.233C6.94228 11.233 6.8853 11.2216 6.83214 11.1996C6.77899 11.1775 6.73071 11.1452 6.69007 11.1045L1.44012 5.85449C1.39932 5.81385 1.36702 5.76557 1.34492 5.71241C1.32292 5.65926 1.31152 5.60228 1.31152 5.54474C1.31152 5.48719 1.32292 5.43021 1.34492 5.37706C1.36702 5.3239 1.39932 5.27563 1.44012 5.23499Z"
                            fill="white"
                          />
                        </svg>
                      </span>
                    </div>
                    <div class="hobby-content" data-tab={hobby.tag}>
                      <p>{hobby.content}</p>
                      {
                        <div class="img-block">
                          {hobby.img && (
                            <div class="img-title">My Spotify 2023 wrapped</div>
                            <img src="wrapped_2023.jpg" alt="spotify wrapped image" srcset="" />
                          )}
                        </div>
                      }
                    </div>
                  </div>
                ))
              }
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</Layout>

<style>
  body {
    background-color: var(--bg-color-alt);
  }

  main {
    color: var(--white);
    height: 100%;
    display: flex;
    justify-content: center;
  }

  ul {
    list-style: none;
    font-size: 48px;
    font-family: var(--font-Bold);
    position: sticky;
    top: 10px;
    z-index: 95;
  }

  li {
    margin-bottom: 40px;
    color: rgb(169, 169, 169);
  }

  li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    user-select: none;
    transition: color 0.3s ease;
  }

  li a.active {
    color: var(--white);
  }

  .me {
    font-family: var(--font-Regular);
    font-size: 32px;
    padding-inline: 30px;
    margin-block: 65px 35px;
    text-align: justify;
    display: flex;
    gap: 50px;
  }

  .col-2 {
  }

  .col-8 {
    font-size: 18px;
    font-family: var(--font-Regular);
    width: calc(80% - 263px);
  }

  .block {
    font-size: clamp(14px, 2vw, 18px);
  }

  .block:not(:first-child) {
    display: none;
  }

  .pt-1 {
    padding-top: 1rem;
    line-height: 1.5;
  }

  .pt-1 em {
    display: inline-block;
    margin-bottom: 16px;
  }

  .hobby-title {
    font-family: var(--font-Bold);
    font-size: clamp(16px, 2vw, 20px);
    color: rgb(149, 149, 149);
    padding-block: 20px;
    border-bottom: 0.5px solid rgba(138, 138, 138, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition:
      color 0.3s ease,
      transform 0.3s ease;
  }

  .hobby-title:hover {
    color: rgba(255, 255, 255, 0.9);
  }

  .hobby-title svg {
    transform: rotate(-90deg);
    transition: transform 0.5s ease;
  }

  .hobby-title.active {
    color: var(--white);
  }

  .hobby-title.active svg {
    transform: rotate(0);
  }

  .hobby-list {
    margin-top: 20px;
  }

  .hobby-content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    font-size: clamp(14px, 2vw, 16px);
    will-change: height;
  }

  .hobby-title.active + .hobby-content {
    height: auto;
  }

  .hobby-content p {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 8px;
    margin-top: 20px;
    line-height: 1.5;
  }

  .img-block {
    display: block;
    max-width: 300px;
    height: max-content;
    margin: 0 auto;
    margin-block: 20px;
    perspective: 1000px;
  }

  .img-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    transform-style: preserve-3d;
  }

  .img-block .img-title {
    font-size: clamp(14px, 2vw, 16px);
    font-family: var(--font-Bold);
    color: var(--white);
    text-align: center;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 1200px) {
    .col-8 {
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .me {
      flex-direction: column;
      gap: 30px;
      padding-inline: 10px;
      margin-top: 20px;
    }

    ul {
      display: flex;
      font-size: 16px;
      justify-content: space-between;
    }

    li {
      margin-bottom: 0;
    }

    .col-2 {
      padding-block: 10px;
      background: var(--bg-color-alt);
      position: sticky;
      top: 0;
      z-index: 1;
    }

    li a {
      display: block;
      padding: 5px;
      background-color: #2f2f2f;
      border-radius: 8px;
      letter-spacing: 1px;
    }

    .col-8 {
      width: 100%;
    }

    .pt-1 {
      padding-top: 0;
    }

    .hobby-title:hover {
      color: rgb(149, 149, 149);
    }

    .hobby-title.active {
      color: var(--white);
    }
  }
</style>
<script>
  import $ from "jquery";
  import { gsap } from "gsap";

  const $subLinks = $(".sub-link");
  const $blocks = $(".block");

  let linkActive = $subLinks.filter(".active").attr("id");
  $blocks.not(`[data-id="${linkActive}"]`).hide();

  $subLinks.on("click", function () {
    const $this = $(this);
    const link = $this.attr("id");

    $subLinks.removeClass("active");
    $this.addClass("active");

    $blocks.hide();
    $blocks.filter(`[data-id="${link}"]`).show();

    $("html, body").animate({ scrollTop: 0 }, "slow");
  });

  //TOGGLE ON DROPDOWN
  $(".hobby-title").on("click", function () {
    const $title = $(this);
    const $content = $title.next(".hobby-content");

    if ($title.hasClass("active")) {
      $title.removeClass("active");
      $content.css("height", 0);
    } else {
      $(".hobby-title").removeClass("active");
      $(".hobby-content").css("height", 0);

      $title.addClass("active");
      $content.css("height", $content.get(0).scrollHeight + "px");
    }
  });


  //HOVER 3D ON IMG
  const $img = $(".img-block img");

  function handleMouseMove(e: any) {
      const boundingRect = e.currentTarget.getBoundingClientRect();

      const mousePosX = Math.floor(e.clientX - boundingRect.left);
      const mousePosY = Math.floor(e.clientY - boundingRect.top);

      const rotateY = (mousePosX / boundingRect.width - 0.5) * 30; 
      const rotateX = -(mousePosY / boundingRect.height - 0.5) * 30;

      gsap.to(e.currentTarget, {
        rotateX: rotateX,
        rotateY: rotateY,
        duration: 0.3,
        ease: "power1.out"
      });
  }

  $img.on("mousemove", handleMouseMove);

  $img.on("mouseleave", function(e: MouseEvent) {
      gsap.to(e.currentTarget, {
        delay:.3,
          rotateX: 0,
          rotateY: 0,
          duration: 0.3,
          ease: "power1.out"
      });
  });
</script>
