---
import { hobbies } from "../config";
import Layout from "../layouts/Layout.astro";
const extractYear = (src: string) => src.split(".")[0].split("_")[1];
---

<Layout
  title="Me"
  description="Welcome to my domain. 🌟 Explore the essence of Andrea, where curiosity and creativity collide."
>
  <div class="container">
    <main>
      <div class="me">
        <div class="col-2">
          <ul class="sub-pages">
            <li>
              <a id="My_story" class="sub-link active" href="#">My Story</a>
            </li>
            <li>
              <a id="Experience" class="sub-link" href="#">Experience</a>
            </li>
            <li>
              <a id="Resume" class="sub-link" href="#">Resume</a>
            </li>
            <li>
              <a id="Hobbies" class="sub-link" href="#">Hobbies</a>
            </li>
          </ul>
        </div>
        <div class="col-8">
          <div class="block" data-id="My_story">
            <p class="pt-1">
              <em>I hate coding.</em>
              <br /><br />That was my initial thought when I first embarked on
              my coding journey. During my first year at university in Ghana, I
              was introduced to C++ as my first programming language. While I
              grasped the core concepts, the language itself seemed like an
              impenetrable wall.<br /><br />In 2017, a new chapter of my life
              began when I moved to Italy. This transition was a leap into the
              unknown, not just culturally but linguistically.<br />
              <br />I was "determined" to learn the language and immerse myself
              in the culture. I started by taking Italian classes, but I soon
              realized that I needed a more hands-on approach. I was then
              fascinated by the idea of creating something from scratch, and I
              was drawn to the challenge of learning a new language. I started
              by watching online videos and reading books, but I quickly
              realized that I needed more guidance. That's when I decided to
              enroll into school.<br /><br />It sure was intense, but it was
              also incredibly rewarding. I learned new skills, made new friends,
              and gained a new perspective on life. During my time at school,
              Java replaced my former programming trials. Surprisingly, Java
              clicked with me far better than C++ ever had. I realized that
              coding was more than just a hobby, it was a way to express myself
              and connect with others. I also realized that coding was a way to
              make a difference in the world.<br /><br />I started by building
              simple projects, but I soon realized that I wanted to do more.<br
              /><br />I completed my studies in 2021 and briefly ventured into
              the food chain industry. <br /><br />Growing up I always
              envisioned myself to be a game developer, creating the next triple
              A game whilst sipping my coffee and reading the opening lines to
              the next best-selling manga. But I kind of just felt meh. I
              yearned to learn more, yearned to learn something different. And
              that is when it happened; the spark I was missing ignited the
              instant I clicked play on my first web development tutorial video.
              Since then, I can't get enough.<br /><br />Web development calls
              to all my passions; it incorporates creativity and problem-solving
              and I'm allowed to break it to improve the code (in a separate Git
              branch, of course). I love applying responsive design principles
              and watching my web pages shrink into mobile screens and still
              look amazing. It's oddly satisfying.<br /><br />My specialties
              include quickly learning and adapting new skills and programming
              languages, problem-solving, and responsive design principles. I'm
              still enthusiastically grabbing onto any other programming
              languages, frameworks, or principles I can integrate into the
              coding web in my head.<br /><br /> One positive psychological trait
              that I've integrated into my daily life is delayed gratification. Initially,
              I always expected immediate results from my efforts, whether it was
              learning a new framework or trying out a new workout. However, I soon
              realized that true growth and progress don't happen overnight; they
              require dedication and consistency. Over time, this understanding not
              only shaped my approach to challenges but also deepened my passion
              for web development.
            </p>
          </div>
          <div class="block" data-id="Experience">
            <div class="pt-1">
              <em>Experience</em>
              <ul class="experience-list">
                <li>
                  <div class="experience-title">Frontend Developer</div>
                  <div class="experience-date">
                    <span>Apr 2025</span>
                    <span>-</span>
                    <span class="pill current">
                      <div class="pulsating-circle"></div><span>Present</span>
                    </span>
                  </div>

                  <p class="experience-description">
                    Currently responsible for the front-end development at
                    Multi-consult, building responsive, optimized, and
                    SEO-friendly user interfaces with Astro, React, and
                    TypeScript, integrated with dynamic content from DatoCMS
                    (headless CMS). I also implement smooth, performant
                    animations and transitions using GSAP and Framer Motion,
                    delivering engaging, user-friendly, and accessible
                    experiences.
                  </p>
                </li>
                <li>
                  <div class="experience-title">
                    Freelance Frontend Developer
                  </div>
                  <div class="experience-date">
                    <span>Feb 2025</span>
                    <span>-</span>
                    <span>Mar 2025</span>
                  </div>
                  <p class="experience-description">
                    I delivered custom web design and development solutions
                    using Figma and React, working directly with clients to
                    gather requirements and provide tailored, on-time, and
                    budget-friendly results. Collaborated closely with a backend
                    developer to integrate APIs and ensure smooth end-to-end
                    functionality.
                  </p>
                </li>
                <li>
                  <div class="experience-title">Frontend Developer</div>
                  <div class="experience-date">
                    <span>Oct 2023</span>
                    <span>-</span>
                    <span>Feb 2025</span>
                  </div>
                  <p class="experience-description">
                    I worked at G.farm Italia and was responsible for the design
                    and development of websites and web applications using
                    JavaScript, jQuery, React and PHP, integrated with
                    relational databases. Key activities included:
                    <ul class="experience-inner-list">
                      <li>
                        Designing and developing responsive, accessible, and
                        SEO-friendly web interfaces and applications to deliver
                        optimized, user-friendly experiences.
                      </li>
                      <li>
                        Collaborating with multidisciplinary teams (designers,
                        project managers, other developers) to define
                        requirements and provide technical solutions aligned
                        with business goals.
                      </li>
                      <li>
                        Documentation of code and processes to ensure
                        maintainability and facilitate collaboration with other
                        developers.
                      </li>
                    </ul>
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="block" data-id="Resume">
            <p class="pt-1">
              <em>Resume </em><br /><br />
              <div class="load">
                <p>No resumes loaded yet</p>
                <p>Check back later for updates.</p>
              </div>
            </p>
          </div>
          <div class="block" data-id="Hobbies">
            <div class="pt-1">
              <em>Hobbies </em>
              <p>
                Welcome to the sunny side of my life beyond coding! When I'm not
                immersed in coding, I dive into a variety of hobbies that keep
                me energized and inspired. Be it gaming, reading manga, flying
                my drone, going out with my friends, or going for a run soaking
                every bit of sunlight.
                <br /><br />
                These activities help me stay mentally fresh and creatively charged,
                ensuring I bring my best self every day.
              </p>
            </div>

            <div class="hobby-list">
              {
                hobbies.map((hobby) => (
                  <div class="hobby-tab">
                    <div class="hobby-title" data-tab={hobby.tag}>
                      <span>{hobby.name}</span>
                      <span>
                        <svg
                          width="16"
                          height="16"
                          viewBox="0 0 16 16"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M1.44012 5.23499C1.48072 5.19424 1.52902 5.16192 1.58212 5.13986C1.63532 5.11781 1.69232 5.10645 1.74982 5.10645C1.80742 5.10645 1.86432 5.11781 1.91752 5.13986C1.97062 5.16192 2.01892 5.19424 2.05962 5.23499L6.99982 10.1761L11.94 5.23499C11.9807 5.19431 12.029 5.16204 12.0822 5.14003C12.1353 5.11801 12.1923 5.10668 12.2498 5.10668C12.3073 5.10668 12.3643 5.11801 12.4174 5.14003C12.4706 5.16204 12.5189 5.19431 12.5595 5.23499C12.6002 5.27566 12.6325 5.32395 12.6545 5.3771C12.6765 5.43025 12.6878 5.48721 12.6878 5.54474C12.6878 5.60226 12.6765 5.65922 12.6545 5.71237C12.6325 5.76552 12.6002 5.81381 12.5595 5.85449L7.30957 11.1045C7.26893 11.1452 7.22065 11.1775 7.1675 11.1996C7.11435 11.2216 7.05737 11.233 6.99982 11.233C6.94228 11.233 6.8853 11.2216 6.83214 11.1996C6.77899 11.1775 6.73071 11.1452 6.69007 11.1045L1.44012 5.85449C1.39932 5.81385 1.36702 5.76557 1.34492 5.71241C1.32292 5.65926 1.31152 5.60228 1.31152 5.54474C1.31152 5.48719 1.32292 5.43021 1.34492 5.37706C1.36702 5.3239 1.39932 5.27563 1.44012 5.23499Z"
                            fill="white"
                          />
                        </svg>
                      </span>
                    </div>
                    <div class="hobby-content" data-tab={hobby.tag}>
                      <p>{hobby.content}</p>
                      {
                        <div class="img-block">
                          {/* {hobby.img && (
                            <div class="img-title">My Spotify 2023 wrapped</div>
                            <img src="wrapped_2023.jpg" alt="spotify wrapped image" srcset="" />
                          )} */}
                          {hobby.img?.map((src: string) => (
                            <div>
                              <div class="img-title">
                                My Spotify {extractYear(src)} wrapped
                              </div>
                              <img src={`/images/${src}`} alt={src} srcset="" />
                            </div>
                          ))}
                        </div>
                      }
                    </div>
                  </div>
                ))
              }
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</Layout>

<style>
  body {
    background-color: var(--bg-color-alt);
  }

  main {
    color: var(--white);
  }

  ul.sub-pages {
    list-style: none;
    font-size: 48px;
    font-family: var(--font-Bold);
    position: sticky;
    top: 10px;
    z-index: 95;
  }

  li {
    margin-bottom: 40px;
    color: rgb(169, 169, 169);
  }

  li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    user-select: none;
    transition: color 0.3s ease;
  }

  li a.active {
    color: var(--white);
  }

  .me {
    font-family: var(--font-Regular);
    font-size: 32px;
    padding-inline: 30px;
    padding-block: 65px 35px;
    display: flex;
    gap: 50px;
  }

  .col-2 {
  }

  .col-8 {
    font-size: 18px;
    font-family: var(--font-Regular);
    width: calc(80% - 263px);
  }

  .block {
    font-size: clamp(14px, 2vw, 18px);
  }

  .block:not(:first-child) {
    display: none;
  }

  .pt-1 {
    padding-top: 1rem;
    line-height: 1.5;
  }

  .pt-1 em {
    display: inline-block;
    margin-bottom: 16px;
  }

  .hobby-title {
    font-family: var(--font-Bold);
    font-size: clamp(16px, 2vw, 20px);
    color: rgb(149, 149, 149);
    padding-block: 20px;
    border-bottom: 0.5px solid rgba(138, 138, 138, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition:
      color 0.3s ease,
      transform 0.3s ease;
  }

  .hobby-title:hover {
    color: rgba(255, 255, 255, 0.9);
  }

  .hobby-title svg {
    transform: rotate(-90deg);
    transition: transform 0.5s ease;
  }

  .hobby-title.active {
    color: var(--white);
  }

  .hobby-title.active svg {
    transform: rotate(0);
  }

  .hobby-list {
    margin-top: 20px;
  }

  .hobby-content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    font-size: clamp(14px, 2vw, 16px);
    will-change: height;
  }

  .hobby-title.active + .hobby-content {
    height: auto;
  }

  .hobby-content p {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 8px;
    margin-top: 20px;
    line-height: 1.5;
  }

  .img-block {
    display: flex;
    gap: 1.5rem;
    max-width: 100%;
    height: max-content;
    margin: 0 auto;
    margin-block: 20px;
    perspective: 1000px;
  }
  .img-block div {
    max-width: 300px;
    width: 100%;
  }

  .img-block img {
    width: 100%;
    height: 100%;
    aspect-ratio: 3/5;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    transform-style: preserve-3d;
  }

  .img-block .img-title {
    font-size: clamp(14px, 2vw, 16px);
    font-family: var(--font-Bold);
    color: var(--white);
    text-align: center;
    margin-bottom: 10px;
  }

  .load {
    font-size: clamp(24px, 5vw, 40px);
    font-family: var(--font-Bold);
    text-align: center;
    padding: 20px;
    border: 0.1px solid rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
  }

  .load p {
    color: #fff;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
  }

  .experience-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
  }

  .experience-title {
    font-size: 20px;
    color: var(--green);
  }

  .experience-list > li {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    color: white;
  }

  .experience-date {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: rgb(135, 135, 135);
  }

  .experience-description {
    /* max-width: 900px; */
    font-size: 18px;
  }

  .experience-inner-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
    margin-bottom: 0;
    list-style-position: inside;
  }

  .experience-inner-list > li {
    margin-bottom: 0;
    color: var(--white);
  }

  .pill {
    width: fit-content;
    font-size: 16px;
    padding: 3px 12px;
    border-radius: 30px;
    user-select: none;
  }

  .pill.current {
    color: var(--green);
    display: flex;
    align-items: center;
    background: var(--light-green);
    gap: 6px;
  }

  .pill.current .pulsating-circle {
    width: 6px;
    height: 6px;
    position: relative;
    background: var(--green);
    border-radius: 50%;
  }

  .pill.current .pulsating-circle::before {
    content: "";
    position: absolute;
    display: block;
    width: 250%;
    height: 250%;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--green);
    border-radius: 50%;
    animation: 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) 0s infinite normal none
      running pulse-ring;
  }

  @keyframes pulse-ring {
    0% {
      transform: translate(-50%, -50%) scale(0.33);
    }
    80%,
    100% {
      opacity: 0;
    }
  }
  @media screen and (max-width: 1200px) {
    .col-8 {
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .me {
      flex-direction: column;
      gap: 30px;
      padding-inline: 10px;
      padding-block: 20px 35px;
    }

    ul.sub-pages {
      display: flex;
      font-size: 16px;
      justify-content: space-between;
    }

    li {
      margin-bottom: 0;
    }

    .col-2 {
      padding-block: 10px;
      background: var(--bg-color-alt);
      position: sticky;
      top: 0;
      z-index: 1;
    }

    li a {
      display: block;
      padding: 5px;
      background-color: #2f2f2f;
      border-radius: 8px;
      letter-spacing: 1px;
    }

    .col-8 {
      width: 100%;
    }

    .pt-1 {
      padding-top: 0;
    }

    .hobby-title:hover {
      color: rgb(149, 149, 149);
    }

    .hobby-title.active {
      color: var(--white);
    }

    .pill {
      font-size: 12px;
    }

    .experience-list {
      font-size: 16px;
    }
    .experience-list > li {
      gap: 10px;
    }

    .experience-title {
      font-size: 16px;
    }

    .experience-inner-list > li {
      font-size: 14px;
    }

    .experience-date {
      font-size: 12px;
    }

    .experience-description {
      font-size: 14px;
    }
  }
</style>

<script>
  import $ from "jquery";
  import { gsap } from "gsap";

  const $subLinks = $(".sub-link");
  const $blocks = $(".block");

  let linkActive = $subLinks.filter(".active").attr("id");
  $blocks.not(`[data-id="${linkActive}"]`).hide();

  $subLinks.on("click", function (e: any) {
    const $this = $(this);
    const link = $this.attr("id");

    $subLinks.removeClass("active");
    $this.addClass("active");

    gsap.to($blocks, {
      opacity: 0,
      duration: 0.15,
      onComplete: function () {
        $blocks.hide();

        const $targetBlock = $blocks.filter(`[data-id="${link}"]`);
        $targetBlock.show();
        gsap.fromTo(
          $targetBlock,
          {
            opacity: 0,
          },
          {
            opacity: 1,
            duration: 0.15,
          }
        );
      },
    });

    $("html, body").animate({ scrollTop: 0 }, "slow");
  });

  //TOGGLE ON DROPDOWN
  $(".hobby-title").on("click", function () {
    const $title = $(this);
    const $content = $title.next(".hobby-content");

    if ($title.hasClass("active")) {
      $title.removeClass("active");
      $content.css("height", 0);
    } else {
      $(".hobby-title").removeClass("active");
      $(".hobby-content").css("height", 0);

      $title.addClass("active");
      $content.css("height", $content.get(0).scrollHeight + "px");
    }
  });

  //HOVER 3D ON IMG
  const $img = $(".img-block img");

  function handleMouseMove(e: any) {
    const boundingRect = e.currentTarget.getBoundingClientRect();

    const mousePosX = Math.floor(e.clientX - boundingRect.left);
    const mousePosY = Math.floor(e.clientY - boundingRect.top);

    const rotateY = (mousePosX / boundingRect.width - 0.5) * 30;
    const rotateX = -(mousePosY / boundingRect.height - 0.5) * 30;

    gsap.to(e.currentTarget, {
      rotateX: rotateX,
      rotateY: rotateY,
      duration: 0.3,
      ease: "power1.out",
    });
  }

  $img.on("mousemove", handleMouseMove);

  $img.on("mouseleave", function (e: MouseEvent) {
    gsap.to(e.currentTarget, {
      delay: 0.3,
      rotateX: 0,
      rotateY: 0,
      duration: 0.3,
      ease: "power1.out",
    });
  });
</script>
