---
import "../styles/app.css";
import "../fonts/stylesheet.css";
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import Cursor from "../components/Cursor.astro";
import FontPreloader from "../components/FontPreloader.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

const { title, description } = Astro.props;
const OgImage = "https://www.dhrego.com/OG.png";
// Construct the canonical URL without trailing slash
const canonicalURL = new URL(Astro.url.pathname.replace(/\/$/, '') || '/', Astro.site).href;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <link rel="canonical" href={canonicalURL} />

    <!-- FB -->
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={OgImage} />

    <!-- Twitter-->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="www.dhrego.com" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={OgImage} />

    <FontPreloader />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- Preload the image -->

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preload" href="img-group.png" as="image" /></head
  >

  <body>
    <Analytics />
    <Navbar />
    <slot />
    <Cursor />
    <Footer />

    <script is:inline>
      function speedInsightsBeforeSend(data) {
        console.log("Speed Insights before send", data);
        return data;
      }
    </script>
    <SpeedInsights />
    <script>
      const changeColor = (index: number) => {
        root.style.setProperty("--base-color", colors[index]);
        logoSvg.forEach((logo) => logo.setAttribute("fill", colors[index]));

        // logoSvg.setAttribute("fill", colors[index]);

        index = (index + 1) % colors.length;

        setTimeout(() => {
          changeColor(index);
        }, 5000);
      };

      const colors = [
        "#8aaae5",
        "#f77126",
        "#26f7ac",
        "#26c5f7",
        "#d439d7",
        "#e04c4c",
      ];

      let root = document.documentElement;
      let logoSvg = document.querySelectorAll(".logo svg path");

      changeColor(0);
    </script>
    <script src="../scripts/app.js"></script>
  </body>
</html>
