---
import "../styles/app.css";
import "../fonts/stylesheet.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import FontPreloader from "../components/FontPreloader.astro";
import Cursor from "../components/Cursor.astro";
import SpeedInsights from "@vercel/speed-insights/astro";

const { title } = Astro.props;
const { description } = Astro.props;
const OgImage = "https://dhrego.com/OG.png";
const url = "https://dhrego.com";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'none'; img-src https://*; child-src 'none';"
    />
    <link rel="icon" type="image/svg+xml" href="logo.svg" />

    <!-- FB -->
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={OgImage} />

    <!-- Twitter-->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="dhrego.com" />
    <meta property="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={OgImage} />

    <FontPreloader />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Cursor />
    <Footer />

    <script is:inline>
      function speedInsightsBeforeSend(data) {
        console.log("Speed Insights before send", data);
        return data;
      }
    </script>
    <SpeedInsights />
    <script>
      const changeColor = (index: number) => {
        root.style.setProperty("--base-color", colors[index]);
        logoSvg.setAttribute("fill", colors[index]);

        index = (index + 1) % colors.length;

        setTimeout(() => {
          changeColor(index);
        }, 5000);
      };

      const colors = [
        "#8aaae5",
        "#f77126",
        "#26f7ac",
        "#26c5f7",
        "#d439d7",
        "#e04c4c",
      ];

      let root = document.documentElement;
      let logoSvg = document.querySelector(".logo svg path");

      changeColor(0);
    </script>
    <script src="../scripts/app.js"></script>
  </body>
</html>
